* {
  margin: 0;
  padding: 0;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  background-image: url('./assets/music-background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, p, label {
  font-family: 'Montserrat';
}

label{
  font-size: 25px;
  margin: 5px;
}

input{
  width: 200px;
  height: 20px;
}

button{
  margin: 10px;
}


.login-nav{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 100px;
}

.login-nav-logo{
  display: flex;
  margin-right: 20px;
}

.login-nav-title{
  color: white;
  display: flex;
  align-items: center; 
}

.login-email{
  margin: 20px;
}

.login-center {
  margin: 0;
  margin-top: 500px;
  display: flex;
  display: block;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.register-center{
  margin: 0;
  margin-top: 500px;
  display: flex;
  display: block;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 1280px;
}

.buttons{
  color: white;
}

.home-post-box-container{
  display: flex;
  justify-content: space-between;
}

.home-post-box{
  width: auto;
  font-size: 20px;
  margin: 20px;
  margin-top: 50px;
}

.home-post-box-br{
  width: auto;
  font-size: 20px;
  margin: 20px;
  margin-top: 50px;
}

.home-bt{
  margin: 50px;
}

.new-post-box{
  margin: auto;
  width: 400px;
  height: auto;
  margin-top: 30px;
}

.update-post-box{
  margin: auto;
  width: 400px;
  height: auto;
  margin-top: 30px;
}

.details-post-box{
  margin: auto;
  width: 400px;
  height: auto;
  margin-top: 30px;
}

.required-text{
  color: red;
}